.copyButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 0;

    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.95);
    }
}