.copyButton {
    background: none; /* Убираем фоновый цвет кнопки */
    border: none; /* Убираем границы кнопки */
    cursor: pointer; /* Указываем курсор "рука" при наведении */
    margin-left: 5px; /* Отступ слева от текста */
    display: flex; /* Для выравнивания содержимого кнопки */
    align-items: center; /* Центрирование содержимого кнопки по вертикали */
    padding: 0; /* Убираем внутренние отступы */
    color: inherit; /* Наследуем цвет текста */

    img {
        width: 20px; /* Устанавливаем ширину изображения */
        height: 20px; /* Устанавливаем высоту изображения */
        vertical-align: middle; /* Выравниваем изображение с текстом */
    }

    &:hover {
        opacity: 0.8; /* Уменьшаем прозрачность при наведении */
    }

    &:active {
        transform: scale(0.95); /* Небольшое уменьшение кнопки при клике */
    }
}