$bg-color: linear-gradient(135deg, rgba(159, 60, 201, 0.92) 9%, rgb(126, 79, 192) 14%, rgb(59, 102, 194) 74%);

.blockInfo {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction: column;
    margin: 30px auto;
    width: 90vw;
    height: auto;
    background: $bg-color;
    border: 1px solid white;
    border-radius: 14px;
    max-width: 1500px;
    padding: 10px;
}

@media (max-width: 768px) {
    .blockInfo {
        padding: 2px;
    }
}